.side{
    position: fixed;
    width: 0%;
    height: 0%;
    overflow: hidden;
    background-color: rgba(5, 24, 96, 0.719);
    z-index: 10;
    color:rgb(144, 246, 255)
}

.center{
    position: absolute;
    height: 80%;
    width: 100%;
    overflow: scroll;
    top:50%;
    transform: translate(0,-50%);
    background-color: rgba(240, 248, 255, 0);
    padding: 4px;
}

.icon{
    text-align: center;
    border-bottom: 2px solid ;
    padding: 4px;
}